.blogPost {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}

.date {
  color: var(--muted);
  margin-left: auto;
  margin-bottom: var(--spacing-base);
}

.title {
  font-size: var(--font-4xl);
  font-weight: 700;
  margin-bottom: var(--spacing-md);
  line-height: 1.2;
  color: var(--secondary);
}

.authorInfo {
  display: flex;
  align-items: center;
  gap: var(--gap-xs);
  margin-bottom: var(--spacing-lg);
}

.avatar {
  border-radius: var(--radius-full);
}

.featuredImage {
  width: 100%;
  max-width: 1040px;
  margin: var(--spacing-xl) auto var(--spacing-xl) auto;
  overflow: hidden;
  aspect-ratio: 2 / 1;
  border-radius: var(--radius-md);
  object-position: bottom;
  object-fit: cover;
}

.contentContainer {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 var(--spacing-base);
}

.content {
  line-height: 1.8;
  font-size: var(--font-md);
}

.content p {
  margin-bottom: var(--spacing-md);
}

.content h2 {
  font-size: var(--font-xl);
  margin: var(--spacing-lg) 0 var(--spacing-base);
}

.content h3 {
  font-size: var(--font-xl);
  margin: var(--spacing-md) 0 var(--spacing-base);
}

.loading {
  text-align: center;
  padding: var(--spacing-2xl);
  color: var(--muted);
  font-size: var(--font-lg);
}

.categoryButton {
  background-color: var(--primary);
  padding: 6px 12px;
  border-radius: var(--radius-lg);
  font-weight: 600;
  font-size: var(--font-base);
  cursor: pointer;
}

.categoryButton span {
  color: white;
}

.dateInfo {
  margin-bottom: var(--spacing-base);
  font-size: var(--font-sm);
  color: var(--muted);
  display: flex;
  justify-content: flex-end;
}

.authorInfoContainer {
  width: 100%;
  margin-bottom: var(--spacing-lg);
}

.authorInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.authorDetails {
  display: flex;
  align-items: center;
  gap: var(--gap-xs);
}

.subtitle {
  font-size: var(--font-3xl);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: var(--spacing-xs);
  margin-bottom: var(--spacing-lg);
}

.authorDetailsText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: var(--spacing-base);
  gap: var(--gap-xs);
}

.username {
  font-size: var(--font-xl);
  font-weight: 700;
  line-height: 1.2;
}

.name {
  font-size: var(--font-base);
  font-weight: 700;
  line-height: 1.2;
  color: var(--muted);
}
