.blogPost {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}

.date {
  color: var(--muted);
  margin-left: auto;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  line-height: 1.2;
  color: var(--secondary);
}

.authorInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.avatar {
  border-radius: 50%;
}

.featuredImage {
  width: 100%;
  max-width: 1040px;
  margin: 3rem auto 3rem auto;
  overflow: hidden;
  aspect-ratio: 2 / 1;
  border-radius: 10px;
  object-position: bottom;
  object-fit: cover;
}

.contentContainer {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
}

.content {
  line-height: 1.8;
  font-size: 1.1rem;
}

.content p {
  margin-bottom: 1.5rem;
}

.content h2 {
  font-size: 1.8rem;
  margin: 2rem 0 1rem;
}

.content h3 {
  font-size: 1.5rem;
  margin: 1.5rem 0 1rem;
}

.loading {
  text-align: center;
  padding: 4rem;
  color: var(--muted);
  font-size: 1.2rem;
}

.categoryButton {
  background-color: var(--primary, #0070f3);
  padding: 6px 12px;
  border-radius: 16px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}

.categoryButton span {
  color: white;
}

.dateInfo {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  color: var(--muted);
  display: flex;
  justify-content: flex-end;
}

.authorInfoContainer {
  width: 100%;
  margin-bottom: 2rem;
}

.authorInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.authorDetails {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.subtitle {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  margin-bottom: 2rem;
}

.authorDetailsText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1rem;
  gap: 0.5rem;
}

.username {
  font-size: 1.56rem;
  font-weight: 700;
  line-height: 1.2;
}

.name {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2;
  color: var(--muted);
}
