.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1.5rem 3rem;
}

@media (max-width: 768px) {
  .container {
    padding: 1rem 3rem;
  }
}

.blogHeader {
  margin-bottom: 3rem;
  text-align: center;
}

.blogTitle {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.blogDescription {
  font-size: 1.2rem;
  color: var(--muted);
  max-width: 600px;
  margin: 0 auto;
}
