:root {
  /* Light Theme (Default) */
  --background-light: #ffffff;
  --foreground-light: #111827;
  --primary-light: #5f7cb6;
  --secondary-light: #93c5fd;
  --accent-light: #f59e0b;
  --muted-light: #6b7280;
  --border-light: #e5e7eb;
  --color-text-light: #ffffff;
  --overlay-light-light: rgba(0, 0, 0, 0.05);

  /* Dark Theme */
  --background-dark: #1f2937;
  --foreground-dark: #f3f4f6;
  --primary-dark: #60a5fa;
  --secondary-dark: #3b82f6;
  --accent-dark: #fbbf24;
  --muted-dark: #9ca3af;
  --border-dark: #374151;
  --overlay-light-dark: rgba(255, 255, 255, 0.05);

  /* Common variables  */
  --font-xs: 0.8rem;
  --font-sm: 0.9rem;
  --font-base: 1rem;
  --font-md: 1.1rem;
  --font-lg: 1.2rem;
  --font-xl: 1.5rem;
  --font-2xl: 2rem;
  --font-3xl: 2.5rem;
  --font-4xl: 3rem;
  --font-5xl: 4rem;
  --font-6xl: 8rem;

  --spacing-xs: 0.5rem;
  --spacing-sm: 0.75rem;
  --spacing-base: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --spacing-xl: 3rem;
  --spacing-2xl: 4rem;

  --radius-xs: 0.25rem;
  --radius-sm: 0.5rem;
  --radius-md: 0.75rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
  --radius-2xl: 2rem;
  --radius-full: 9999px;

  --gap-xs: 0.5rem;
  --gap-sm: 0.75rem;
  --gap-base: 1rem;
  --gap-md: 1.5rem;
  --gap-lg: 2rem;
  --gap-xl: 3rem;

  --container-sm: 640px;
  --container-md: 768px;
  --container-lg: 1024px;
  --container-xl: 1200px;

  /* Default to light theme variables */
  --background: var(--background-light);
  --foreground: var(--foreground-light);
  --primary: var(--primary-light);
  --secondary: var(--secondary-light);
  --accent: var(--accent-light);
  --muted: var(--muted-light);
  --border: var(--border-light);
  --color-overlay-light: var(--overlay-light-light);
}

html[data-theme="dark"] {
  /* html 태그에 적용 */
  --background: var(--background-dark);
  --foreground: var(--foreground-dark);
  --primary: var(--primary-dark);
  --secondary: var(--secondary-dark);
  --accent: var(--accent-dark);
  --muted: var(--muted-dark);
  --border: var(--border-dark);
  --color-overlay-light: var(--overlay-light-dark);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--background);
  color: var(--foreground);
  font-size: var(--font-base);
  transition: background-color 0.3s ease, color 0.3s ease;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}
